* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
    color: white;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
  display: block;
  }
  a {
  text-decoration: none;
  }
  img {
  max-width: 100%;
  }
body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Header CSS */
  .header {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    
  }
  .header .header__wrapper{
    display: flex;
    justify-content: space-between;
    width: 133rem;
    height: 0;
    padding-top: 0;
  }

  .header .branding{
    display: flex;
  }

  .header .container{
    min-height: 2rem;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 20px;

  }

  .header .container img{
    height: 10rem; 
    background-color: transparent;
    padding-top: 0;
    margin-top: 6rem;
    margin-left: 0;
  }


.branding h2{
  font-style: italic;
  font-size: 2.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10rem;
  color: whitesmoke;
}

  .header .header__nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 5rem;
    color: white;
    
  }

  .header .header__nav a{
    background-color: none;
    color: white;
  }

  .header .header__nav li :hover{
    color: gold;
    font-weight: 600;
  }

  h1{
    color: white;
    margin-left: 10rem;
    margin-top: 2rem;
    font-size: 8rem;
  }

/* Introduction CSS */
  .introduction {
    color: white;
    margin-left: 10rem;
    margin-bottom: 0;
    margin-right: 10rem;
    margin-top: 10rem;
    
  }

  .introduction h3{
    font-style: italic;
    font-size: 2.6rem;
    font-family: monospace;
  }

  .introduction p {
    font-size: 2rem;
    font-family: gentium;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
  }

  .introduction h4{
    font-size: 2.5rem;
    font-family:initial ;
  }


 /*CSS for the Brief Explanation*/
  
  .containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .image-gallery {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .image-slide {
    margin: 0 10px;
    text-align: center;
  }
  
  .image-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }
  
  .arrow {
    font-size: 24px;
    text-decoration: none;
    color: red ;
    margin: 12rem;
  }
  
  
  .info-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: black;
  }
  


